// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Ionic CSS Variables
:root {
  --Trebuchet: 'Trebuchet MS';
  --BHDIcons: 'icosBhd';

  //VARIABLES
  --white: #ffffff;
  --black: #000000;
  --green-main: #49B742;
  --ion-color-primary: var(--green-main);
  --bhd-color-titles: #738572;
  --bhd-color-text: #666666;
  --bhd-color-text-blue: #194083;
  --borders: rgba(204, 204, 204, .6);
  --bhd-color-content-brackground: #F7F8FA;
  --bhd-color-subtext: #999999;

  // TOAST
  --red-1: #EC6666;
  --red-2: #F8E9E9;
  --bhd-background-toast-danger: var(--red-2);
  --bhd-border-toast-danger: var(--red-1);

  // ICONS
  --icon-user: '\e91a';
  --icon-password: '\e91b';
  --icon-config-resume: '\e900';
  --icon-transactions: '\e901';
  --icon-offers: '\e963';
  --icon-accountSaving: '\e907';
  --icon-creditCard: '\e909';
}
